<!-- <header class="app-headerr"></header>
<nav class="navbar navbar-dark bg-dark ">
 
  <form class="box mx-4 py-3">
  <a class="navbar-brand mx"><b>HEALTH CARE PROJECT</b></a> -->
  <!-- <a routerLink="welcome-content" style="text-decoration: none; color: #fff; " class="mx-4"><b>Find doctors</b></a> -->

   <!-- </form>

  <form class="box mx-4">
   <a routerLink="login-form" style="text-decoration: none; color: #fff;" class="mx-3"><b>LOGIN</b></a>
   <a routerLink="register-form" style="text-decoration: none; color: #fff;"><b>REGISTER</b></a>
  </form>
 
</nav>
<router-outlet></router-outlet> -->