<header class="app-headerr"></header>
<nav class="navbar navbar-dark bg-dark ">
     <form class="box mx-4 py-3">
          <a class="navbar-brand mx"><b>HEALTH CARE PROJECT</b></a>
    </form>
</nav>
 

<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12"></div>
      <div class="col-lg-4 col-md-4 col-sm-12" id="box">
         <h2 style="text-align: center;">PROVIDERS LOGIN FORM</h2>
        <form  [formGroup]="login" (ngSubmit)="GetData()">
             <br>
             <input type="text" class="form-control" placeholder="Enter your username" formControlName="userName">
             <span *ngIf="vname && vname.invalid&& vname.touched">Enter valid data</span>
             <br>
             <input type="password" class="form-control" placeholder="Enter your password" formControlName="password">
             <span *ngIf="vpwd && vpwd.invalid&& vpwd.touched">Enter valid password</span>
             <br>
             
             <button [disabled]="login.invalid" type="submit" class="form-control btn btn-primary btn-block" >submit </button>
             <br>
        </form>
      </div>
    </div>
 </div>