<header class="app-headerr"></header>
<nav class="navbar navbar-dark bg-dark ">
     <form class="box mx-4 py-3">
          <a class="navbar-brand mx"><b>HEALTH CARE SYSTEM</b></a>
    </form>
</nav>
 
<div class="container">
 <div class="container  card mt-5 " id="box">
    <div class="card-header">
      Add Doctor
    </div>
    <div class="card-body">
      <form [formGroup]="doctorForm" (ngSubmit)="addDoctor()">
       
          <input type="text" class="form-control" placeholder="Enter doctorName" formControlName="doctorName" required>

        <br>
    
          <input type="text" class="form-control" placeholder="Enter department" formControlName="department" required>
    
        <br>

          <input type="text" class="form-control" placeholder="Enter location" formControlName="location" required>
       
        <br>
       
          <input type="text" class="form-control" placeholder="Enter hospitalName"formControlName="hospitalName" required>
    
        <br>
        
          <input type="text" class="form-control"placeholder="Enter consulationFees" formControlName="consulationFees" required>
      
        <br>
        <button type="submit" class="btn btn-primary">Add Doctor</button>
      </form>
    </div>
  </div>
</div>
<!-- <button (click)="show()">button</button> -->

  