<!-- <div class="navbar">
    <a class="logo">Healthcare Provider Dashboard</a>
  </div> -->


  <header class="app-headerr"></header>
  <nav class="navbar navbar-dark bg-dark ">
       <form class="box mx-4 py-3">
            <a class="navbar-brand mx"><b>HEALTH CARE SYSTEM</b></a>
            <a routerLink="add-doc" style="text-decoration: none; color: #fff;" class="mx-3 my-2"><b>+Add Doctor</b></a>
      </form>
  </nav>


<div class="container mt-5">
    <h1 class="mb-4">Healthcare Provider Dashboard</h1>
  
   
    <div class="card">
      <div class="card-header">
        Pending Appointments
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Patient Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Request status</th>
              <th>Action</th>
              <th>Cancel</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of pendingAppointments">
              
              <td>{{ appointment.patientName}}</td>
              <td>{{ appointment.dateAndTime }}</td>
              <td>{{ appointment.time }}</td>
              <td>{{appointment.status}}</td>
              <td>
                <button class="btn btn-success btn-sm" (click)="acceptAppointment(appointment.id)">Accept</button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteAppointment(appointment.id)">Reject</button>
              </td>
            </tr>
          </tbody>
        </table>
    
    </div>
</div>

<!-- | slice: (page-1) * pageSize : page * pageSize -->

<!-- <ngb-pagination
[(page)]="page"
[pageSize]="pageSize"
[collectionSize]="pendingAppointments.length"></ngb-pagination>
</div> -->