<div class="container mt-5"><h1>Your Bookings :</h1></div>
<div class="container mt-5" id="c2">
    <table class="table table-bordered">
     <thead class="thead">
       <tr>
         <th>Appointment Id</th>
         <th>Patient Name</th>
         <th>Age</th>
         <th>Hospital Name</th>
         <th>Date</th>
         <th>time</th>
         <th>Status</th>
       </tr>
     </thead>
     <tbody class="tbody">
     <tr *ngFor="let appoint of appointments |paginate:{itemsPerPage:5,currentPage:page,totalItems:totalLength} "> 
        <td>{{appoint.id}}</td>
        <td>{{appoint.patientName}}</td>
        <td>{{appoint.age}}</td>
        <td>{{appoint.hospitalName}}</td>
        <td>{{appoint.dateAndTime}}</td>
        <td>{{appoint.time}}</td>
        <td><button type="button" class="btn btn-secondary mx-3" >
           {{appoint.status}}
        </button>
        <button type="button" class="btn btn-primary" (click)="cancelBooking(appoint)" >
          cancel
        </button>
        </td>
       
        
     </tr>
     </tbody>
    </table>
</div>
<div class="pagination">
   <pagination-controls (pageChange)="page=$event"></pagination-controls>
</div>