<!-- <div class="app">
  <app-header [pageTitle]="'Health Care Project'"></app-header>
  <app-login-form></app-login-form>
  <app-register-form></app-register-form> -->
  <!-- <app-welcome-content></app-welcome-content>
  </div>  --> 

  <router-outlet></router-outlet> 