
<div class="container" id="box">
    <div>
        <select [(ngModel)]="defaultSelect" (change)="getHospitals($event) "  >
           <option [value]="0">select a hospital</option>
           <option [value]="item.name" *ngFor="let item of hospital">{{item.name}}</option>
         </select>
    </div>
    <div>
        <button class="b1 mx-3" type="submit" (click)="onSubmit()">Search </button>
    </div>
</div>

<div class="container mt-5"><h1>HospitalName :{{hName}}</h1></div>
<div class="container mt-5" id="c2">
    <table class="table table-bordered">
     <thead class="thead">
       <tr>
         <th>Doctor Name</th>
         <th>Department</th>
         <th>Hospital Name</th>
         <th>Loaction</th>
       </tr>
     </thead>
     <tbody class="tbody">
     <tr *ngFor="let doc of docDetails |paginate:{itemsPerPage:5,currentPage:page,totalItems:totalLength}"> 
      <td>{{doc.doctorName}}</td>
      <td>{{doc.department}}</td>
      <td>{{doc.hospitalName}}</td>
      <td>{{doc.location}}</td>
      <td>{{doc.consultationFees}}</td>
     </tr>
     </tbody>
    </table>
</div>
<div class="pagination">
  <pagination-controls (pageChange)="page=$event"></pagination-controls>
</div>