<header class="app-headerr"></header>
<nav class="navbar navbar-dark bg-dark ">
     <form class="box mx-4 py-3">
          <a class="navbar-brand mx"><b>HEALTH CARE SYSTEM</b></a>
    </form>
</nav>
 
 
<div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" id="box">
         <h2 style="text-align: center;">Register Form</h2>
        <form [formGroup]="register" (ngSubmit)="addUser()">
             <br>
             <input type="text" class="form-control" placeholder="Enter your username" formControlName="userName">
             <span *ngIf="vname && vname.invalid&& vname.touched">Enter valid data</span>
             <br>
             <input type="password" class="form-control" placeholder="Enter your password" formControlName="password">
             <span *ngIf="vpwd && vpwd.invalid&& vpwd.touched">Enter valid password</span>
             <br>
             <input type="text" class="form-control" placeholder="Enter your email" formControlName="email">
             <span *ngIf="vemail && vemail.invalid&& vemail.touched">Enter valid email</span>
             
             <br>
             <input type="text" class="form-control" placeholder="Enter your role" formControlName="role">
             <span *ngIf="vrole && vrole.invalid&& vrole.touched">Enter valid email</span>
             <br>
             <button [disabled]="register.invalid" type="submit" class="form-control btn btn-primary btn-block" >REGISTER </button>
             <br>
        </form>
      </div>
    </div>
 </div>
