<!-- <div id="c1">
<header class="app-headerr"></header>
<nav class="navbar navbar-dark bg-dark ">
     <form class="box mx-4 py-3">
          <a class="navbar-brand mx"><b>HEALTH CARE PROJECT</b></a>
          <a routerLink="/booking-component" style="text-decoration: none; color: #fff;" class="mx-3 my-2"><b>Your Appointments</b></a>
          <a routerLink="/providers" style="text-decoration: none; color: #fff;" class="mx-3 my-2"><b>HealthCare Providers</b></a>
    </form>
</nav>
  -->
<div class="container py-3">
   <div class="box2">
         <div><h1 class="mx-5">Find and Book</h1></div>
   </div>
   <div class="box" >
  
      <div>
        <select [(ngModel)]="defaultSelect" (change)="getLocation($event) "  >
           <option [value]="0">select a Location</option>
           <option [value]="item.name" *ngFor="let item of location">{{item.name}}</option>
         </select>
      </div>
     
      <div class="box1 mx-3 ">
        <select [(ngModel)]="default" (change)="getDept($event)" >
           <option [value]="0">select a department</option>
           <option [value]="dept.name" *ngFor="let dept of department">{{dept.name}}</option>
         </select>
      </div>

      <div>
        <button class="b1" type="submit" (click)="onSubmit()">Search </button>
      </div>
   
   </div>
</div>


<div class="container" id="c2">
  <table class="table table-bordered">
   <thead class="thead">
     <tr>
       <th>Doctor Name</th>
       <th>Department</th>
       <th>Location</th>
       <th>Hospital Name</th>
       <th>Consultation Fees</th>
       <th>Book Appointment</th>
       <!-- <th>Status</th> -->
     </tr>
   </thead>
   <tbody class="tbody">
   <tr *ngFor="let doc of doctorDetails |paginate:{itemsPerPage:5,currentPage:page,totalItems:totalLength}">
       <td>{{doc.doctorName}}</td>
       <td>{{doc.department}}</td>
       <td>{{doc.location}}</td>
       <td>{{doc.hospitalName}}</td>
       <td>{{doc.consulationFees}}</td>
       <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="initialize(doc)">
                   Book
           </button>
      </td>
     </tr>
   </tbody>
  </table>
</div>

<div class="">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book your Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <form [formGroup]="booking" (ngSubmit)="bookAppointment()">
          <br>
          <input type="text" class="form-control" placeholder="Enter Patient Name" formControlName="patientName">
          
          <br>
          <input type="text" class="form-control" placeholder="Enter Patient Age" formControlName="age">

          <br>
          <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
          
          <br>
          <input type="date" class="form-control" placeholder="dateandtime" formControlName="dateAndTime">

          <br>
          <select [(ngModel)]="dropdefault" class="form-select" aria-label="Default select example" formControlName="time">
            <option selected [value]="0">select the time slot</option>
            <option [value]="item.name" *ngFor="let item of timeslot">{{item.name}}</option>
          </select>

          <br>
          <button [disabled]="" type="submit" class="form-control btn btn-primary btn-block" >submit </button>
          <br>
        </form>     
        </div>

    </div>
  </div>
</div>
</div>
<div class="pagination">
  <pagination-controls (pageChange)="page=$event"></pagination-controls>
</div>
<router-outlet></router-outlet>
<!-- hello -->