
<header class="app-headerr"></header>
<nav class="navbar navbar-dark bg-dark ">
     <form class="box mx-4 py-3">
          <a class="navbar-brand mx"><b>HEALTH CARE PROJECT</b></a>
          <a routerLink="booking-component" style="text-decoration: none; color: #fff;" class="mx-3 my-2"><b>Your Bookings</b></a>
          <a routerLink="providers" style="text-decoration: none; color: #fff;" class="mx-3 my-2"><b>HealthCare Providers</b></a>
    </form>
</nav>
     
<router-outlet></router-outlet>
